.button {
  font-family: $oswald-font;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;
  padding: 10px 0;
  display: block;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 17px 0;
  }

  &--more {
    background-color: $basic-grey;
    color: $special_dark-grey;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      padding: 10px 0;
    }
  }

  &--card {
    @media (min-width: $tablet-width) {
      font-size: 16px;
      padding: 10px 0;
    }
  }
}
