.choose-program {
  padding: 22px 0 32px 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 33px 0 72px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 0 82px 0;
  }
}

.choose-program__form {
  @media (min-width: $desktop-width) {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name program"
      "contacts contacts"
      "comment comment"
      "extra extra"
      "send send";
    grid-column-gap: 80px;
    align-items: center;
  }
}

.choose-program__fieldset-name,
.choose-program__fieldset-program,
.choose-program__fieldset-contacts,
.choose-program__fieldset-comment,
.choose-program__fieldset-extra {
  padding: 0;
  margin: 0;
  border: none;
}

.choose-program__fieldset-name {
  margin: 0 0 24px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
    padding: 0 38px 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px 0;
    padding: 0;
    grid-area: name;
  }
}

.choose-program__fieldset-program {
  margin: 0 0 26px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 0 75px 0;
    padding: 0 38px 0 40px;
  }

  @media (min-width: $desktop-width) {
    grid-area: program;
    padding: 0;
  }

  &::before,
  &::after {
    @media (max-width: $mobile-width-only) {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $line-decorate;
      min-width: 320px;
    }
  }

  &::before {
    @media (max-width: $mobile-width-only) {
      top: 0;
    }
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      bottom: 0;
    }
  }
}

.choose-program__fieldset-contacts {
  margin: 0 0 10px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 45px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 50px 0;
    grid-area: contacts;
  }
}

.choose-program__fieldset-comment {
  margin: 0 0 23px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 67px 0;
    grid-area: comment;
  }
}

.choose-program__fieldset-extra {
  margin: 0 0 17px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 18px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 24px 0;
    grid-area: extra;
  }
}

.choose-program__fieldset-contacts .choose-program__title-wrapper {
  margin: 0 0 35px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 76px 0;
  }
}

.choose-program__fieldset-comment .choose-program__title-wrapper {
  margin: 0 0 37px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 76px 0;
  }
}

.choose-program__fieldset-extra .choose-program__title-wrapper {
  margin: 0 0 39px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 62px 0;
  }
}

.choose-program__name-list,
.choose-program__program-list,
.choose-program__contacts-list,
.choose-program__extra-list {
  @include list-unstyled;
}

.choose-program__program-list {
  padding: 28px 0 25px 0;

  @media (min-width: $tablet-width) {
    padding: 30px 27px 30px 27px;
    border: 1px solid $border-input;
  }
}

.choose-program__contacts-list {
  @media (min-width: $tablet-width) {
    padding: 0 40px 0 38px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.choose-program__fieldset-comment .choose-program__data-item {
  @media (min-width: $tablet-width) {
    padding: 0 40px 0 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.choose-program__extra-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px 0 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.choose-program__name-list .choose-program__data-item {
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 0;
  }

  &:last-of-type {
    margin: 0;
  }
}

.choose-program__program-list .choose-program__choice {
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 23px 0;
  }

  &:last-of-type {
    margin: 0;
  }
}

.choose-program__contacts-list .choose-program__data-item {
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 78px 20px 0;
    width: 46.64%;
  }

  &:nth-of-type(2n) {
    @media (min-width: $desktop-width) {
      margin: 0 0 20px 0;
    }
  }
}

.choose-program__extra-list .choose-program__choice {
  margin: 0 0 24px 0;

  @media (min-width: $tablet-width) {
    margin: 0 123px 42px 0;
    width: 35%;
  }

  @media (min-width: $desktop-width) {
    margin: 0 104px 42px 0;
    width: 18.12%;
  }

  &:nth-of-type(2n) {
    @media (min-width: $tablet-width) {
      margin: 0 0 42px 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0 104px 42px 0;
    }
  }

  &:nth-of-type(4n) {
    @media (min-width: $desktop-width) {
      margin: 0 0 42px 0;
    }
  }
}

.choose-program__send-form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 40px 0 38px;
  }

  @media (min-width: $desktop-width) {
    grid-area: send;
    padding: 0;
  }
}

.choose-program__submit {
  margin: 0 0 21px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0 61px 0 0;
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.choose-program__text-required {
  font-family: $arial-font;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
