.choose-program {
  padding: 27px 0 32px 0;
}

.choose-program__title {
  margin: 0 0 37px 0;
}

.choose-program__text {
  margin: 0 0 39px 0;
  text-transform: uppercase;
}

.choose-program__fieldset {
  padding: 0;
  margin: 0;
}
