.choose-program {
  padding: 22px 0 32px 0;

  @media (min-width: $tablet-width) {
    padding: 33px 0 72px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 0 82px 0;
  }
}

.choose-program__fieldset-name,
.choose-program__fieldset-program,
.choose-program__fieldset-contacts,
.choose-program__fieldset-comment,
.choose-program__fieldset-extra {
  padding: 0;
  margin: 0;
  border: none;
}

.choose-program__fieldset-name {
  margin: 0 0 52px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px 0;
  }
}

.choose-program__fieldset-program {
  margin: 0 0 51px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 75px 0;
    border: 1px solid $border-input;
    padding: 30px 27px 30px 27px;
  }
}

.choose-program__fieldset-contacts {
  margin: 0 0 24px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 50px 0;
  }
}

.choose-program__fieldset-comment {
  margin: 0 0 23px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 67px 0;
  }
}

.choose-program__fieldset-extra {
  margin: 0 0 41px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 18px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 24px 0;
  }
}

.choose-program__fieldset-contacts .choose-program__title {
  margin: 0 0 35px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 76px 0;
  }
}

.choose-program__fieldset-comment .choose-program__title {
  margin: 0 0 37px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 76px 0;
  }
}

.choose-program__fieldset-extra .choose-program__title {
  margin: 0 0 39px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 62px 0;
  }
}

.choose-program__name-list,
.choose-program__program-list,
.choose-program__contacts-list,
.choose-program__extra-list {
  @include list-unstyled;
}

.choose-program__name-list .choose-program__data-item {
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 0;
  }

  &:last-of-type {
    margin: 0;
  }
}

.choose-program__program-list .choose-program__choice {
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 23px 0;
  }

  &:last-of-type {
    margin: 0;
  }
}

.choose-program__contacts-list .choose-program__data-item {
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 0;
  }

  &:last-of-type {
    margin: 0;

    @media (min-width: $desktop-width) {
      margin: 0 0 20px 0;
    }
  }
}

.choose-program__extra-list .choose-program__choice {
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 42px 0;
  }

  @media (max-width: $mobile-width-only) {
    &:last-of-type {
      margin: 0;
    }
  }
}

.choose-program__submit {
  margin: 0 0 21px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.choose-program__text-required {
  font-family: $arial-font;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
