.contacts {
  &--background {
    background-color: $basic-grey;
  }
}

.contacts__container {
  position: relative;
}

.contacts__wrapper {
  padding: 28px 0 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 62px 41px 51px 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 64px 89px 58px 76px;
    background-color: $basic-white;
    position: absolute;
    top: 95px;
    width: 570px;
  }
}

.contacts__text-invitation {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: $strong-color;
  margin: 0;
  width: 50%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
    width: 27%;
  }

  @media (min-width: $desktop-width) {
    width: 163px;
  }
}

.contacts__text-address {
  font-family: $arial-font;
  line-height: 20px;
  color: $special-dark-grey;
  margin: 0;
  width: 50%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
    width: 25.5%;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    width: 155px;
    text-align: left;
  }
}

.contacts__line-break {
  @media (min-width: $tablet-width) {
    display: block;
    margin: 20px 0 0 0;
  }
}

.contacts__map {
  width: 100vw;
  min-width: 320px;
  height: 362px;
  display: block;
}
