.data-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.data-item__label {
  font-size: 16px;
  color: $special_dark-grey;
  text-transform: uppercase;
  margin: 0 13px 0 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 16px 0 0;
  }
}

.data-item__input {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  background-color: $basic-white;
  text-transform: uppercase;
  border: 1px solid $border-input;
  padding: 12px 15px 13px 15px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 18px 10px 18px;
  }

  &::placeholder {
    color: $special_dark-grey;
  }

  &--textarea {
    resize: none;
    padding: 8px 14px;
    min-height: 150px;

    @media (min-width: $tablet-width) {
      padding: 10px 18px 10px 18px;
      min-height: 174px;
    }
  }
}
