.description {
  padding: 14px 0 16px 0;

  @media (min-width: $tablet-width) {
    padding: 22px 0 10px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0 0 0;
  }
}

.description__main-title {
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px 0;
  }
}

.description__list {
  @include list-unstyled;

  @media (min-width: $tablet-width) {
    padding: 0 75px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    justify-content: flex-start;
  }
}

.description__item {
  font-family: $arial-font;
  color: $special_dark-grey;
  padding: 0 0 0 80px;
  margin: 0 0 28px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    min-height: 280px;
    width: 250px;
    padding: 151px 0 0 0;
    margin: 0 0 37px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 73px 11px 0;
  }

  &:nth-child(4n) {
    @media (min-width: $desktop-width) {
      margin: 0 0 11px 0;
    }
  }
}
