.page-header {
  padding: 12px 0 17px 0;
  background-color: transparent;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 25px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 0;
  }

  &--opened {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 196px;
    }
  }

  &--main {
    @media (min-width: $desktop-width) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
  }
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
  }
}

.page-header__logo-link {
  display: inline-block;
  vertical-align: top;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.page-header__logo-image {
  &--mobile {
    display: block;
    width: 191px;
    height: 38px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;
    width: 174px;
    height: 52px;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;
    width: 202px;
    height: 59px;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.page-header__toogle {
  width: 24px;
  height: 18px;
  background-color: transparent;
  border: none;
  display: block;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__main-nav--closed .page-header__toogle {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 1.5px;
    background-color: $basic-black;
    box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
  }
}

.page-header__main-nav--opened .page-header__toogle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 24px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__list {
  @include list-unstyled;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    padding-bottom: 4px;
  }
}

.page-header__main-nav--opened .page-header__list {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    min-width: 320px;
    top: 65px;
    right: 0;
    left: 0;
    background-color: $basic-white;
    z-index: 10;
  }
}

.page-header__main-nav--closed .page-header__list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.page-header__item {
  @media (min-width: $tablet-width) {
    margin-right: 35px;
    margin-bottom: 10px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:not(.page-header__item--current):hover {
      opacity: 60%;
    }

    &:not(.page-header__item--current):active {
      opacity: 30%;
    }
  }

  &--current {
    @media (min-width: $tablet-width) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $basic-green;
        bottom: -10px;
        left: 0;
      }
    }
  }
}

.page-header--main .page-header__item--current {
  @media (min-width: $desktop-width) {
    &::before {
      background-color: $basic-white;
    }
  }
}

.page-header__item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  padding: 22px 0 23px 0;
  display: block;
  border-top: 1px solid $line-decorate-2;
  border-bottom: 1px solid $line-decorate-2;
  margin-bottom: -1px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--color {
      color: $basic-white;
    }
  }
}
