.page-catalog__container {
  padding-top: 29px;
  padding-bottom: 17px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    padding-bottom: 42px;
  }

  &::before {
    @media (max-width: $mobile-width-only) {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $line-decorate;
      top: 0;
      min-width: 320px;
    }
  }
}

.page-catalog__main-title {
  margin: 0;
}
