.page-program__container {
  padding: 27px 0 17px 0;

  @media (min-width: $tablet-width) {
    padding: 40px 0 33px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0 33px 0;
  }
}

.page-program__main-title {
  margin: 0 0 37px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 54px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 56px 0;
  }
}

.page-program__text {
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
