.product-more {
  padding: 78px 0 25px 0;
  min-height: 209px;
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 430px;
    width: 45.764%;
    padding: 160px 35px 36px 35px;
    border: 2px solid $basic-grey;
  }

  @media (min-width: $desktop-width) {
    width: 20.082%;
    padding: 158px 36px 40px 36px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("../img/plus.svg") no-repeat 0 0;
    top: 25px;

    @media (min-width: $tablet-width) {
      background: url("../img/plus-table.svg") no-repeat 0 0;
      width: 60px;
      height: 60px;
      top: 50px;
    }
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      content: "";
      position: absolute;
      width: 100vw;
      min-width: 320px;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $line-decorate-4;
      bottom: 0;
    }
  }
}

.product-more__subtitle {
  line-height: 20px;
  color: $strong-color;
  text-transform: uppercase;
  margin: 0 0 8px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 23px 0;
    width: 134px;
  }
}

.product-more__text {
  font-family: $arial-font;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 87px 0;
    width: 167px;
  }
}

.product-more__button {
  width: 100%;
}
