//Colors

$basic-white: #ffffff;
$basic-black: #000000;

// Fonts

$font-main: "Open Sans", "Arial", sans-serif;

// Viewports

$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;
