//Colors

$basic-white: rgba(255, 255, 255, 1);
$basic-black: rgba(0, 0, 0, 1);
$basic-green: rgba(104, 183, 56, 1);
$basic-grey: rgba(242, 242, 242, 1);
$basic-silver: rgba(205, 205, 205, 1);
$basic-light-silver: rgba(235, 235, 235, 1);

$special-dark-grey: rgba(68, 68, 68, 1);
$special-dark-grey-2: rgba(34, 34, 34, 1);
$strong-color: rgba(17, 17, 17, 1);

$line-decorate: rgba(217, 217, 217, 1);
$line-decorate-2: rgba(230, 230, 230, 1);
$line-product-card: $basic-light-silver;
$line-extra-good: $basic-silver;
$line-button: rgba(0, 0, 0, 0.24);
$line-icon-plus: rgba(211, 211, 211, 1);

$back-color: rgba(234, 234, 234, 1);
$back-termin: rgba(196, 196, 196, 1);
$back-cat: rgba(79, 78, 82, 1);
$back-scale: rgba(220, 220, 220, 1);

$button-green-hover: rgba(94, 170, 47, 1);
$button-grey-hover: $basic-light-silver;

$border-color: $basic-silver;

$border-input: rgba(231, 231, 231, 1);
$border-input-hover: $basic-silver;
$border-input-active: rgba(68, 68, 68, 1);
$border-input-error: rgba(255, 130, 130, 1);

$border-checbox-hover: rgba(186, 186, 186, 1);

$gradient: rgba(104, 183, 56, 0.85);

// Fonts

$oswald-font: "Oswald", "Arial", sans-serif;
$arial-font: "Arial", sans-serif;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
